<div>
        <h4>ADMIN Console</h4>
        <p>Use this area to provide additional information.</p>
        <form class="form-auth" method="POST" action="/getdatafromdb">
                <select class="form-control" name="filter"  required>
                        <option value="all">ALL</option>
                        <option value="cutoff">Cuttoff</option>
                    </select><br>
                    <input class="btn btn-primary" type="submit" value="Apply">
            </form>
</div>