<div>
    <div class="jumbotron">
        <h1>LICET ERP SYSTEM</h1>
        <!-- <p class="lead">Node.js is a free Javascript framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Registration Form </h2>
            <p>
                Students can fill their registration form by cliking the button below!
            </p>
            <!-- ng-show is used to make some feauters available only to ppl who login! -->
            <p><a class="btn btn-default" href="#/registerform" >Registration form &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contact us</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="#/contact">Contact &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Student details</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="#/paymentpage">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

